$panel-bg-color: #ffffff;
$panel-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$text-color: #4a4a4a;
$text-attention-color: #8c0000;
$text-size: 12px;
$line-height: 120%;
$text-weight: 400;
$text-uppercase: uppercase;
$heading-text-weight: 600;
$btn-text-color: #4a4a4a;
$chexbox-border: 1px solid #2196f3;
$checkbox--checked-bg: no-repeat url('./img/Shape.png') center;
$checkbox--checked-bg-size: 12 auto;
$btn-border: 1px solid #dfe5ec;
$btn--checked-text-color: #ffffff;
$btn-bg-color: #2196f3;
$btn-border: 1px solid #dfe5ec;
$btn--disabled-bg-color: #f3f2f5;
$btn--disabled-border-color: #f3f2f5;
$btn--disabled--checked-bg-color: #e1e1e1;
$btn--disabled--checked-text-color: #4a4a4a;
$btn--disabled--checked-border-color: #cfcfcf;
$checkbox--hover-bg-color: #f1fcff;
$sort-panel-wrapper-width: 500px;
$sort-panel-wrapper-height: 50px;
$first-child-border-radius: 5px 0 0 5px;
$last-child-border-radius: 0 5px 5px 0;
