@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.filter-stops-panel__ {
  &wrapper {
    @include panel-base-styles;
    box-shadow: $panel-box-shadow;
    border-radius: 5px;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &heading {
    @include panel-base-styles;
    font-weight: $heading-text-weight;
    margin: 0 0 5px;
    text-transform: $text-uppercase;
    margin-bottom: 10px;
    text-transform: $text-uppercase;
  }

  &inputs-block {
    display: flex;
    flex-direction: column;
  }
}

.checkbox {
  &__container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    height: 40px;
  }

  &:hover,
  &__container:hover,
  &__label:hover,
  &__input:hover {
    background: $checkbox--hover-bg-color;
    cursor: pointer;
  }

  &__label {
    @include checkbox__label;
    align-self: center;
  }

  &__input {
    @include checkbox__input--hidden;
  }

  &__box {
    @include checkbox_box;
    align-self: center;
  }

  &__input:checked + .checkbox__box {
    border: $chexbox-border;
    background: $checkbox--checked-bg;
    background-size: $checkbox--checked-bg-size;
  }
}
