.header-wrapper {
  height: 160px;
  padding-top: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('./logo/Logo.png');
  background-position: center;
}

.link {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 15px;
}
