.sorting-panel__inputs-block {
  display: flex;
  max-width: 500px;
  min-height: 50px;
}

.radiobox {
  flex: 1 0 auto;
  display: flex;
}

.radiobox:hover,
.radiobox__label:hover {
  cursor: pointer;
}

.radiobox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radiobox__label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 1px solid #dfe5ec;
  background: #ffffff;
  color: #4a4a4a;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radiobox input:checked + .radiobox__label {
  color: #ffffff;
  background: #2196f3;
  border: 1px solid #2196f3;
}

.first-child {
  border-radius: 5px 0 0 5px;
}

.last-child {
  border-radius: 0 5px 5px 0;
}

